.intro {
    background-image:url(../images/pizza2.jpg);
    background-size: cover;
    padding: 100px;
    text-align: center;
}
h1 {
    color: blue;
    text-shadow: 5px 5px 7px black;
    font-size: 50px;
}

h2 {
    color: blue;
    text-shadow: 5px 5px 7px black;
    font-size: 50px;

}

.menu {
   text-shadow: blue;
   padding: auto;

   
}
.services {
    text-align: center;
    color: royalblue;
}

p {
    color:blue;
}

.contact{
    text-align: center;
    padding: 10%;
}